<div class="mt-4">
    <div class="card">
        <div class="card-body">
            <h1>Este sistema</h1>
            <p>En un inicio solo me enfoque en react pero dejaba de lado mucho de node.js asi que me propuse a hacerlo de nuevo, con el fin de usar react a la fuerza, si vez muchas cosas que esten de mas es precisamente por ello.</p>
            <p>Y si mucho Lorem use en este sistema, pero no hay de que preocuparse si solo es texto, tambien españingles</p>
            <p>Use react en el login como usted dijo asi pues espero que se divierta en este sistema</p>
            <p>El sistema hace: Login , Registra user,  tambien CRUD de note estos son notas - BD es mongodb</p>
        </div>
    </div>
</div>