<div class="jumbotron mt-4">
    <h1>Node App Node.js y MongoDb</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quas aliquam at ipsum in! Deleniti ipsa assumenda perspiciatis dignissimos, debitis odit. Iusto eveniet sit repellat dolorem voluptate. Repudiandae, dolor asperiores.</p>
    <a href="#" class="btn btn-primary">Sitio</a>
</div>